{% extends 'base.html' %}
    {% block title %} Sign in {% endblock %}
    {% block content %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{1048325002036743}',
      cookie     : true,
      xfbml      : true,
      version    : '{v3.3}'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

    <div class="row">
        <div class="col-md-8 mx-auto social-container my-2 order-md-1">
            <button class="btn btn-danger  mb-2">
                <a href="#">Login with Instagram</a>
            </button>
            <button class="btn btn-primary mb-2">
                <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook
                </a>
            </button>

        </div>
    </div>
    </div>
    {% endblock %}